// Variables

// Main color
//$primary-color: #b77d6f;
//$primary-color: #a8735b;
$primary-color: #a86447; //orangey
//$primary-color: #c4a491; //cream

// Anchor color
//$secondary-color: #788776;
$secondary-color: #8a3816;

// Font color
$font-color: #ede5e1;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
